<mat-tab-group mat-stretch-tabs  headerPosition="below" class="footer stretched-tabs under-bar">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
    <app-smartphone-home></app-smartphone-home>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>map</mat-icon>
    </ng-template>
    <app-smartphone-map></app-smartphone-map>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        test
    </ng-template>
    <app-smartphone-test></app-smartphone-test>
  </mat-tab>


</mat-tab-group>
